@import '../global/variables.less';

.events {
    padding: 140px 0 100px;
}

.events__listing {
    margin-bottom: 100px;
}

.events__services {
    box-sizing: border-box;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto 100px;
    padding: 0 40px;
}

.events__section-title {
    margin-bottom: 30px;
}

.events__section-description {
    max-width: 870px;
    margin: 0 0 60px;
    font-size: 16px;
    line-height: 22px;
}
