@import '../global/variables.less';

.page-header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(222, 222, 222, 0.95);
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

.page-header__logo {
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__right-block {
    width: 202px;
}

.page-header__nav {
    display: flex;
    gap: 50px;
}

.page-header__nav-link {
    color: @color-black;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__nav-link:hover {
    color: @color-red;
}

@media (max-width: 768px) {
    .page-header__right-block {
        display: none;
    }
}
