@import '../global/variables.less';

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 624px;
    margin: 0 auto 100px; // Отступ снизу
    padding: 10px 45px;
    background-color: @color-black;
    color: @color-white;
    font-family: @font-title;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}
