html, 
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: red;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    backdrop-filter: blur(20px);
    background:rgba(222, 222, 222, 0.5);
}

.page-header__container,
.about__container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.main {
    flex: 1 0 auto;
    background-color: rgb(199, 199, 238);
}

.page-footer {
    flex: 0 0 auto;
    background-color: pink;
    height: 455px
}

.btn {
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    background-color: transparent;
    outline: none;
    color: #1f1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.section-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 624px;
    margin: 0 auto 150px;
    padding: 7px 45px 9px;
    background-color: #1f1e1e;
    color: #ffffff;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    text-transform: uppercase;
}


.btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
}

.listing {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.listing__events-list{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}

.events{
    padding: 140px 0 150px;
}

.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
}

.event-card__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #1f1e1e;
    text-decoration: none;
}

.event-card__link:hover .event-card__title{
    color: #bc3324;
    text-decoration-color: #bc3324;
}

.event-card__picture {
    display: block;
    position: relative;
    margin: 0 0 25px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}

.event-card__picture::after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.16%;
}

.event-card__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card__title {
    margin: 0 0 15px;
    min-height: 65px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.375;
    text-decoration: underline transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
}

.event-card__description {
    margin: 0 0 auto;
}

.event-card__time{
    margin: 15px 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
}   

.listing__event-card{
    width: calc(33.333% - 40px);
}

.about__block2{
    display: grid;
    grid-template-columns: 1fr 406px;
    gap: 90px 65px;
    grid-template-areas: 
    "pic pic2"
    "title pic2"
    "text text";
}

.about__picture {
    grid-area: pic;
}

.about__title {
    grid-area: title;
    margin: 10px 0 0;
    font-size: 44px;
    font-weight: 700;
}

.about__picture2 {
    grid-area: pic2;
    align-self: flex-end;
}

.about__text {
    grid-area: text;
    margin: 0 80px 0 auto;
    max-width: 870px;
    width: 100%;
}

.page-header__logo{
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header__right-block{
    width: 202px;
}

.page-header__nav {
    display: flex;
    gap: 50px;
}

.page-header__nav-link {
    color: #1f1e1e;
    font-weight: 600;
    font-size: 1.38;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}

.home {
    max-width: 1414px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    max-width: 1334px;
    margin: 0 auto 80px;
    padding: 60px 20px;
    text-align: center;
}

.offers {
    max-width: 1334px;
    margin: 0 auto 100px;
    padding: 0 20px;
}

.about {
    max-width: 1334px;
    margin: 0 auto 100px;
    padding: 0 20px;
}

.upcoming {
    max-width: 1334px;
    margin: 0 auto 100px;
    padding: 0 20px;
}

.listing {
    max-width: 1334px;
    margin: 0 auto 100px;
    padding: 0 20px;
}

.contacts {
    max-width: 1334px;
    margin: 0 auto 100px;
    padding: 0 20px;
}