html, 
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: red;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    backdrop-filter: blur(20px);
    background-color: rgba(222, 222, 222, 0.5);
}

.main {
    flex: 1 0 auto;
    background-color: blue;
}

.page-footer {
    flex: 0 0 auto;
    background-color: pink;
    height: 455px
}

.page-header__logo{
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
